*{
    overflow: hidden;
}
#Background{
    height: 702px;
    width: 1360px;
}
#Rectangle1{
    position: absolute;
    height: 710px;
    width: 1380px;
    top: 0px;
    left: 0px;
    background-color: white;
    opacity: 0.85;
}
#Rectangle2{
    position: absolute;
    top: 1px;
    left: -30px;
    height: 720px;
    width: 500px;
    background-color:#023246;
    filter: blur(190px);
}
#Rectangle3{
    position: absolute;
    top: 1px;
    left: 270px;
    height: 720px;
    width: 500px;
    background-color:#023246;
    filter: blur(300px);
}
#Heading #Logo{
    position: absolute;
    top: 20px;
    left: 30px;
    height: 120px;
    width: 120px;
}
#Heading nav{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px ;
    left: 600px;
    font-family: "Aksara Bali Galang",sans-serif;
    color: #023246;
    gap: 60px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 0.2em;
}

nav a:hover{
    color: white;
}
nav a:active{
    color: white;
}
#Main p{
    position: absolute;
    top: 160px;
    left: 70px;
    font-size: 30px;
    color: #023246;
    letter-spacing: 0.15em;
    font-weight: 500;
}
#Pic1{
    position: absolute;
    top: 230px;
    left: 160px;
    height: 400px;
    width: 500px;
}
h1{
    position: absolute;
    top: 220px;
    left: 770px;
    font-size: 75px;
    color: #023246;
    letter-spacing: 0.13em;
}
h2{
    position: absolute;
    top: 620px;
    left: 70px;
    letter-spacing: 0.13em;
    color: #023246;


}