body{
    background-color: #A8A8A8;
    margin: 0px;
    padding: 0px;
    font-family: "Aksara Bali Galang", sans-serif;
}
 #Container{
    width:246px;
    height:695px;
    background-color: #023246;
    box-shadow: 5px 1px 4px #000000;
}
#Headline{
    width: 1190x;
    margin-left: 250px;
    margin-top: -700px;
    height: 100px;
    background-color: #023246;
    box-shadow: 5px 1px 4px #000000;
} 
h2{
    position: absolute;
    top: -5px;
    left: 262px;
    color: white;
    width: 526px;
    font-size: 36px;
    font-family: "Aksara Bali Galang", sans-serif;
    font-weight: 700;
}
#Headline input{
    position: absolute;
    top: 33px;
    left: 903px;
    width: 300px;
    height: 26px;
    border-radius: 30px;
    border-color: aliceblue;
    box-shadow: 8px 1px 4px #000000 ;
}
#Headline input:hover{
    transition: 0.25s;
    background-color: white;
    border-radius: 90px;
    border-color: aqua;
    box-shadow: 0 0 5px blueviolet,
    0 0 25px pink, 0 0 50px blueviolet,
    0 0 100px pink, 0 0 200px blueviolet;
}
#Headline #Profile{
    position: absolute;
    height: 35px;
    width: 35px;
    left: 1239px;
    top: 30px ;
}
#Headline #Profile:hover{
    transition: 0.25s;
    background-color: aqua;
    border-radius: 90px;
    border-color: aqua;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
#Headline #Logout{
    position: absolute;
    height: 33px;
    width: 33px;
    left: 1294px;
    top: 29px ;
}
#Headline #Logout:hover{
transition: 0.25s;
background-color: darkred;
border-radius: 23% 15%;
border-color: aqua;
box-shadow: 0 0 5px cyan,
0 0 25px cyan, 0 0 50px cyan,
0 0 100px cyan, 0 0 200px cyan;
}

img {
    position: absolute;
    width: 161px;
    height: 145px;
    left: 33px;
    top: 13px;
    

}
#img1{
    width: 50;
    height: 50;
}
#Menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 253px;
}
button{
    align-items: flex-end;
    height: 50px;
    width: 246px;
    margin-top: 2px;
    border-color: transparent;
    background-color: #023246;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: medium;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    cursor:pointer;
    border-bottom: #000000;

}
button:hover{
    transition: 0.25s;
    color: #000000;
    background-color: aqua;
    border-bottom: #000000;
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan, 0 0 25px cyan,
    0 0 50px cyan, 0 0 150px cyan;

}
button #img1{
    position: absolute;
    top: 17px;
    left: 10px;
    height: 25px;
    width: 25px;
}
button #img2{
    align-items: end;
    position: absolute;
    top: 68px;
    left: 9px;
    height: 27px;
    width: 27px;
}
button #img3{
    position: absolute;
    top: 119px;
    left: 10px;
    height: 27px;
    width: 27px;
}
button #img4{
    position: absolute;
    top: 170px;
    left: 9px;
    height: 26px;
    width: 26px;
}
button #img5{
    position: absolute;
    top: 223px;
    left: 5px;
    height: 26px;
    width: 26px;
}
button #img6{
    position: absolute;
    top: 275px;
    left: 9px;
    height: 28px;
    width: 28px;
}
#Main h1{
    position: absolute;
    left: 600px;

    font-family:sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 10px;

    display: flex;
    align-items: center;
    letter-spacing: 0.15em;

    color: #023246;

}
#Main .container{
    position: absolute;
    width: 900px;
    height: 250px;
    left: 380px;
    top: 180px;

    background: #CCDDE2;
    border: 1px solid #6092C0;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.container .Rectangle1{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #023246;
    border-radius: 20px ;
}
.Rectangle1 h2{
    position: absolute;
    font-size: 30px;
    width: 20px;
    left: 15px;
    top: -15px;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.container .Rectangle2{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #023246;
    border-radius: 20px ;
}
.Rectangle2 h2{
    position: absolute;
    font-size: 30px;
    width: 20px;
    left: 10px;
    top: -15px;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.container .Rectangle3{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #023246;
    border-radius: 20px ;
}
.Rectangle3 h2{
    position: absolute;
    font-size: 30px;
    width: 20px;
    left: 10px;
    top: -15px;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.container .Rectangle4{
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #023246;
    border-radius: 20px ;
    border: 1px solid #023246;
box-shadow: 0px 4px 4px #023246;
}
.Rectangle4 h2{
    position: absolute;
    font-size: 30px;
    width: 20px;
    left: 10px;
    top: -15px;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.container .blankrec1{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 20px;
    left: 40px;
    background-color: #fcfcfc;
    border-radius: 20px ;
    border: 1px solid #023246;
box-shadow: 0px 4px 4px #023246;
}
.container .blankrec2{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 20px;
    left: 257px;
    background-color: #fcfcfc;
    border-radius: 20px ;
    border: 1px solid #023246;
box-shadow: 0px 4px 4px #023246;
}
.container .blankrec3{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 20px;
    left: 480px;
    background-color: #fcfcfc;
    border-radius: 20px ;
    border: 1px solid #023246;
box-shadow: 0px 4px 4px #023246;
}
.container .blankrec4{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 20px;
    left: 710px;
    background-color: #fcfcfc;
    border-radius: 20px ;
    border: 1px solid #023246;
box-shadow: 0px 4px 4px #023246;
}

#Forms .top{
    position: absolute;
    width: 400px;
    height: 100px;
    top: 470px;
    left: 400px;
    cursor: pointer;
    background: #023246;
    border-radius: 15px;
    transform: matrix(1, 0, 0, 1, 0, 0);

}
.top h2{
    position: absolute;
    width: 300px;
    font-size: 30px;
    left: 16px;
    top: -10px;
    font-weight: 400;
    letter-spacing: 0.1em;

}
#Forms .top:hover{
    font: #000000;
    transition: 0.5s;
    background-color: #6092C0;
    border: 1px solid black;
box-shadow: 5px 4px 4px black;
}
#Forms .dop{
    position: absolute;
    width: 400px;
    height: 100px;
    top: 590px;
    left: 400px;
    cursor: pointer;
    background: #023246;
    border-radius: 15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#Forms .dop:hover{
    font: #000000;
    transition: 0.5s;
    background-color: #6092C0;
    border: 1px solid black;
box-shadow: 5px 4px 4px black;
}
.dop h2{
    position: absolute;
    width: 300px;
    font-size: 30px;
    left: 16px;
    top: -10px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

#Forms .cop{
    position: absolute;
    width: 400px;
    height: 100px;
    top: 590px;
    left: 900px;
    cursor: pointer;
    background: #023246;
    border-radius: 15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#Forms .cop:hover{
    font: #000000;
    transition: 0.5s;
    background-color: #6092C0;
    border: 1px solid black;
box-shadow: 5px 4px 4px black;
}
.cop h2{
    position: absolute;
    width: 300px;
    font-size: 30px;
    left: 16px;
    top: -10px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

#Forms .pop{
    position: absolute;
    width: 400px;
    height: 100px;
    top: 470px;
    left: 900px;
    cursor: pointer;
    background: #023246;
    border-radius: 15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#Forms .pop:hover{
    font: #000000;
    transition: 0.5s;
    background-color: #6092C0;
    border: 1px solid black;
box-shadow: 5px 4px 4px black;
}
.pop h2{
    
    position: absolute;
    width: 300px;
    font-size: 30px;
    left: 16px;
    top: -10px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
button #Add{
    height: 20px;
    width: 20px;
    left: 2px;
    top: 5px;
}
#Main button:hover{
    transition: 0.25s;
    color: #000000;
    background-color: aqua;
    border-radius: 10px;
    border-color: aqua;
    box-shadow: 0 0 5px blueviolet,
    0 0 15px pink, 0 0 25px blueviolet,
    0 0 50px pink, 0 0 100px blueviolet;
}
#Main button{
    position: absolute;
    height: 32px;
    width: 100px;
    top: 120px;
    left: 1242px;
    background-color: #023246;
    box-shadow: 5px 1px 4px #000000;
    align-items: end;
    color: white;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    cursor:pointer;
    border-radius: 10px;

}